*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

fieldset {
  border: none;
  padding: 0;
}

legend {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

p {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type='text'],
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='url'],
textarea,
select {
  font-size: 16px;
  
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}